<h1>Listing avrs</h1>

<table>
  <thead>
    <tr>
      <th>Mmm</th>
      <th>Type avr</th>
      <th>Material</th>
      <th>Comment</th>
      <th>User</th>
      <th>Date on</th>
      <th>Date off</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @avrs.each do |avr| %>
      <tr>
        <td><%= avr.mmm_id %></td>
        <td><%= avr.type_avr %></td>
        <td><%= avr.material %></td>
        <td><%= avr.comment %></td>
        <td><%= avr.user_id %></td>
        <td><%= avr.date_on %></td>
        <td><%= avr.date_off %></td>
        <td><%= link_to 'Show', avr %></td>
        <td><%= link_to 'Edit', edit_avr_path(avr) %></td>
        <td><%= link_to 'Destroy', avr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Avr', new_avr_path %>
