<p id="notice"><%= notice %></p>

<p>
  <strong>Mdu tkd:</strong>
  <%= @mmm.mdu_tkd %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @mmm.adress %>
</p>

<p>
  <strong>Porch:</strong>
  <%= @mmm.porch %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @mmm.ip %>
</p>

<p>
  <strong>Sys name:</strong>
  <%= @mmm.sys_name %>
</p>

<p>
  <strong>Ingress:</strong>
  <%= @mmm.ingress %>
</p>

<p>
  <strong>Mod:</strong>
  <%= @mmm.mod %>
</p>

<%= link_to 'Edit', edit_mmm_path(@mmm) %> |
<%= link_to 'Back', mmms_path %>
